@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  --primary: #274472;
  --main: #fefeff;

  --secondary: #000000;

  --white: #fefeff;
  --gray: #cf3434;
  --dark: #0b0a08;
  --cta: #f00003;
  --cta-dark: #a91416;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html,
body {
  overflow-x: hidden;
}
.container {
  width: 100%;
  max-width: 1250px;
  justify-self: center;
  margin: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
